<% include partials/header2 %>
	<div id="case3">
		<h1> <%= title %></h1>
		<table class="table table-hover">
			<thead>
				<tr>
					<td>DESCRIPTION</td>
					<td>PRIORITY</td>
					<td>DEPARTMENT</td>
					<td>STATUS</td>
				</tr>
			</thead>
			<tbody>
			<% issues.forEach(function(issue){ %>
				<tr>
					<td> <%= issue.description %> </td>
					<td> <%= issue.priority %> </td>
					<td> <%= issue.department %> </td>
					<td> <%= issue.status %>  </td>
					<% if (issue.status == 'Closed') { %>
						<td> <button type="button" class="btn btn-default" disabled>Update</button></td>
					<% }else { %>
						<td> <button type="button" class="btn btn-default"><a href="#" class="updateIssue" data-id="<%= issue._id %>">Update</a></button> </td>
					<% } %>
				</tr>
			<tbody>					
			<% }) %>
		</table>
		
	</div>
<% include partials/footer %>