<% include partials/header2 %>
	<div id="case">
		<h1> <%= title %></h1>
		<% if(Object.keys(issues).length === 0) { %>
			<br><br><br><br><br><br><br><br><h2> NO ISSUE HAS BEEN RAISED TO YOUR DEPARTMENT </h2>
		<% } else { %>
			<table class="table table-hover">
				<thead>
					<tr>
						<td>DESCRIPTION</td>
						<td>PRIORITY</td>
						<td>DEPARTMENT</td>
						<td>STATUS</td>
						<td>ASSIGNED</td>
					</tr>
				</thead>
				<tbody>
				<% issues.forEach(function(issue){ %>
					<tr>
						<td> <%= issue.description %> </td>
						<td> <%= issue.priority %> </td>
						<td> <%= issue.department %> </td>
						<td> <%= issue.status %>  </td>
						<td> <%= issue.assign %>  </td>
						<% if (issue.assign) { %>
							<td> <button type="button" class="btn btn-default" disabled>Assign</button></td>						
						<% }else { %>
							<td> <button type="button" class="btn btn-default"><a href="#" class="assign" data-id="<%= issue._id %>">Assign</a></button> </td>
						<% } %>
						<% if (issue.status == 'Closed') { %>
							<td> <button type="button" class="btn btn-default" disabled>Resolved</button></td>
						<% }else if (issue.status == 'Pending') { %>
							<td> <button type="button" class="btn btn-default"><a href="#" class="updateIssue2" data-id="<%= issue._id %>">Resolved</a></button> </td>
						<% }else { %>
							<td> <button type="button" class="btn btn-default"><a href="#" class="updateIssue2" data-id="<%= issue._id %>">Resolved</a></button> </td>
						<% } %>
					</tr>
				<tbody>					
				<% }) %>
			</table>
		<% } %>
	</div>
<% include partials/footer %>