<% include partials/header %>
		<h1> <%= title %></h1>
		<ul>
			<% users.forEach(function(user){ %>
				<li><%= user.lastName %>
					<%= user.lastname %>
					<%= user.firstname %> 
					<%= user.firstName %> -<a href="#" class="deleteUser" data-id="<%= user._id %>">Delete</a>
				</li>
		<% }) %>
		</ul>
	</div>
	<div>
		<h1><a href="/signUp"> Sign Up </a></h1>
	</div>
	<div>
		<h1><a href="/signIn"> Sign In </a></h1>
	</div>
<% include partials/footer %>